{:deps
 {com.fooheads/stdlib {:mvn/version "0.3.3"}}

 :aliases
 {:dev
  {:extra-paths ["examples" "test"]}
  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}

   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :test/cljs
  {:extra-paths ["test"]
   :extra-deps {org.clojure/clojurescript {:mvn/version "1.11.121"}
                olical/cljs-test-runner   {:mvn/version "3.8.0"}}
   :main-opts ["-m" "cljs-test-runner.main"]}


  :build
  {:deps {com.fooheads/build-clj {:mvn/version "1.0.0"}}
   :ns-default fooheads.build}}}
